PORT=
LOCAL_IP_ADDRESS=
NODE_ENV=development
# CLIENT_URL=
DB_URL=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_URL=
ACCESS_TOKEN=
ACCESS_TOKEN_EXPIRE=
ACTIVATION_SECRET=
REFRESH_TOKEN=
REFRESH_TOKEN_EXPIRE=
